source_up
export VAULT_ADDR=https://pki.devnw.com
export GITHUB_TOKEN=$(gh auth token)
export NIX_CONFIG="experimental-features = nix-command flakes
        access-tokens = github.com=${GITHUB_TOKEN}"
use flake
